<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Slide</title>
    <link rel="stylesheet" href="css/reveal.css">

    <!-- slide theme -->
    <link rel="stylesheet" href="css/theme/black.css">

    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- PDF Export -->
    <!-- to export PDF, add "?print-pdf" to URL and print -->
    <!-- print settings -->
    <!-- Layout: Landspape -->
    <!-- Margines: None -->
    <!-- Background graphics option: Enable -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
</head>
<body>
    <div class="reveal">
        <div id="content" class="slides">
        </div>
    </div>

    <!-- jquery -->
    <!-- <script src="lib/js/jquery-3.2.0.min.js"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script src="js/mdslide/mdslide.js"></script>

    <script src="lib/js/head.min.js"></script>
    <script src="lib/js/classList.js"></script>
    <script src="lib/js/html5shiv.js"></script>
    <script src="js/reveal.js"></script>

    <!-- render markdown -->
    <script src="plugin/markdown/marked.js"></script>
    <script src="plugin/markdown/markdown.js"></script>

    <!-- code highlight -->
    <script src="plugin/highlight/highlight.js"></script>

    <!-- render tex math equations -->
    <script src="plugin/math/math.js"></script>

    <!-- speaker notes -->
    <script src="plugin/notes/notes.js"></script>

    <script>
        Reveal.initialize({
            slideNumber: true,
            history: true,
            center: true,
            // previewLinks: true,
            transition: 'fade',

            // slide size
            // width: 1920,
            // height: 1080,

            // math: {
            //     mathjax: 'js/MathJax.js',
            //     config: 'TeX-AMS_HTML-full'  // See http://docs.mathjax.org/en/latest/config-files.html
            // },

            dependencies: [
                {
                    src: 'plugin/markdown/marked.js',
                    condition: function() { return !document.querySelector( '[data-markdown]' ); }
                },
                {
                    src: 'plugin/markdown/markdown.js',
                    condition: function() { return !document.querySelector( '[data-markdown]' ); }
                },
                {
                    src: 'plugin/highlight/highlight.js',
                    async: true,
                    callback: function() { hljs.initHighlightingOnLoad(); }
                },
                {
                    src: 'plugin/math/math.js',
                    async: true,
                },
                {
                    src: 'plugin/notes/notes.js',
                    async: true,
                }
            ]
        });
    </script>
</body>
</html>
